<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Portfólio | Fotógrafo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <div class="container">
            <h1 class="logo">Fotógrafo</h1>
            <nav>
                <a href="/">Início</a>
                <a href="/login">Login</a>
                <a href="/sobre">Sobre</a>
                <a href="/galeria">Galeria</a>
            </nav>
        </div>
    </header>

    <main class="container">
        <h1>Eventos Fotográficos</h1>

        <% if (events && events.length> 0) { %>
            <% for (let i=0; i < events.length; i++) { %>
                <div class="evento-card">
                    <h2>
                        <%= events[i].eventName %>
                    </h2>
                    <p><strong>Data:</strong>
                        <%= new Date(events[i].eventDate).toLocaleDateString('pt-BR', { timeZone: 'UTC' }) %>
                    </p>
                    <p>Ver Detalhes</p> <!-- até implementar a pag de mais detalhes -->
                    <!-- <a href="/emImplementacao">Ver detalhes</a> -->
                </div>
                <% } %>
                    <% } else { %>
                        <p class="sem-eventos">Nenhum evento encontrado.</p>
                        <% } %>

    </main>

    <footer>
        <p>&copy; 2025 Fotógrafo Profissional</p>
    </footer>
</body>

</html>